.navigation{
    margin-bottom: 20px;
}


.padding{
    padding: 10px;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}



.card-padding{
   padding: 10px;
    margin: 10px;
}


.main-window{
    margin: 70px;
}


body {
    background-color: #ECEFF1;
}

/* для расстояние между элементами главного меню */
li{
padding-left: 15px;
padding-rigth: 15px;
}




A:hover {
    text-decoration: none !important; /* Отменяем подчеркивание у ссылки */
}

A {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
}


