{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
        <title>
            {% block title %}
            {% endblock %}
         </title>


        <link rel="stylesheet" type="text/css" href= "{% static "bootstrap/css/bootstrap.min.css" %}" >
        {% block styles %} {% endblock %}

        <script type="text/javascript" src="{% static "jquery/jquery-3.4.1.min.js" %}" ></script>
        <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}" ></script>
    {% block scripts %} {% endblock %}
</head>


<body>
      {% block nav %}
         <nav class="navigation navbar navbar-expand-lg navbar-light bg-light">

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

              <li class="nav-item active">
                 <a class="nav-link" href="{% url "index" %}">Домой <span class="sr-only">(current)</span></a>
              </li>


              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>


              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Словари
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Склад</a>
                  <a class="dropdown-item" href="#">Работники</a>
                  <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>

              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
      {% endblock %}



    {% block content %}
    {% endblock %}



    {% block footer %}
    <footer id="footer navbar-fixed-bottom " class="footer"><!--Footer-->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2020</p>
                    <p class="pull-right"></p>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}

</body>
</html>