{% extends "base.html" %}
{% load static %}

{% block title %} Заказы {% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href= "{% static "css/index.css" %}" >
{% endblock %}





{% block content %}


    <div class = "main-window">

        <H4>Заявка на материалы </H4>


        <div class="form-group">

            <p>Поставщику:</p>

            <select id="id_bd_month" name="bd_month" class="selectpicker" data-width="100%" data-size="16">

            {% for diller in dillers %}
                <option value={{ diller.name }}>{{ diller.name }}</option>
            {% endfor %}

            </select>

        </div>


        <table class="table table-bordered bg-light" id = "form_set">
            <thead>
            <tr>
                <th scope="col">Наименование</th>
                <th scope="col">Нужно для заказа</th>
                <th scope="col">Есть на складе</th>
                <th scope="col">Недостаток</th>
                <th scope="col">Заказать</th>
            </tr>
            </thead>
            <tbody>

            {% for Definition in Definitions %}
                <tr>
                        <td>
                            {{  Definition.name }}
                        </td>

                        <td>
                            {{  Definition.needMaterial }}
                        </td>

                        <td>
                            {{  Definition.havematerial }}
                        </td>

                        <td>
                            {{ Definition.toOrder }}
                        </td>

                        <td>
                            <div class="form-check">
                                <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                            </div>
                        </td>

                </tr>
            {% endfor %}

            </tbody>

        </table>


    <button type="button" class="btn btn-secondary">Заказать</button>

    </div>

{% endblock %}