{% extends "base.html" %}
{% load static %}

{% block title %} Заказы {% endblock %}

{% block styles %}

{% endblock %}


{% block content %}


    <div class="container-fluid orderAll_margin">
        <div class="row">

            {% for status in statusNameArray %}

                <! -- изменить при изменении количества разделов на главной странице -->
                <div class = "col-2">

                    <div class="card border-0 card_header_color">
                        <div class="card_header_text">
                            <H6>{{ status }}</H6>
                        </div>
                    </div>

                </div>
            {% endfor %}

        </div>
    </div>



    <div class="container-fluid">
        <div class="row">

            {% for orders in ordersArray %}

                <! -- изменить при изменении количества разделов на главной странице -->
                <div class = "col-2">
                    {% include "order_list.html"  %}
                </div>

            {% endfor %}

        </div>
    </div>




{% endblock %}