{% extends "base.html" %}
{% load static %}

{% block title %} Заказ {% endblock %}


{% block styles %}
     <link rel="stylesheet" type="text/css" href= "{% static "css/index.css" %}" >
{% endblock %}

{% block content %}

    <div class = "main-window" >

        <form  method="POST">

            {% include "order_form.html" %}


            <button type="submit" class="btn btn-secondary" value="Save"> Сохранить </button>
            <button type="submit" class="btn btn-secondary" value="Remove" > Удалить </button>

        </form>

    </div>

{% endblock %}