
{% load static %}



<br>

<table class="table table-bordered" id = "form_set_order_material">
    <thead>
    <tr>
        <th scope="col">Требуемый материал</th>
        <th scope="col">Нужное количество</th>
        <th scope="col"></th>
    </tr>
    </thead>

    <tbody>

    {{ formMaterials.management_form }}

    {% for formMaterial in formMaterials %}

        {{ formMaterial.management_form }}


        {{ formMaterial.errors }}

        {% for error in formMaterial.non_field_errors %}
            {{error}}
        {% endfor %}



        {% for hidden in formMaterial.hidden_fields %}
            {{ hidden }}
        {% endfor %}


            <tr class = "formset_row_material_{{ formMaterials.prefix }}">
                <td> {{ formMaterial.idMaterial }}</td>
                <td> {{ formMaterial.count }}</td>
                <td> {{ formMaterial.errors }}</td>
            </tr>


    {% endfor %}

    </tbody>
</table>



<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>


<script type="text/javascript">

 $('.formset_row_material_{{ formMaterials.prefix }}').formset({
        addText: '+',
        deleteText: 'x',
        formCssClass: 'dynamic-formset4',
        prefix: '{{ formMaterials.prefix }}',
        animateForms: true
    });




</script>







