{% load static %}


<br>
<h5  class="text-center">Цех</h5>

<table class="table table-bordered" id = "form_set_operation_manufactory">
    <thead>
    <tr  class="text-center">
        <th scope="col">Операция</th>
        <th scope="col">Стоимость</th>
        <th scope="col">Исполнитель</th>
        <th scope="col">Исполнено</th>
        <th scope="col">Дата выполнения</th>
        <th scope="col"></th>
    </tr>
    </thead>

    <tbody>

    {{ formManufactoryOperations.management_form }}

    {% for formOperation in formManufactoryOperations %}

        {{ formOperation.errors }}

        {% for error in formOperation.non_field_errors %}
            {{error}}
        {% endfor %}


        {% for hidden in formOperation.hidden_fields %}
            {{ hidden }}
        {% endfor %}


            <tr class = "text-center formset_row_operation_{{ formManufactoryOperations.prefix }}">
                <td> {{ formOperation.idOperation }}</td>
                <td> {{ formOperation.cost }}</td>
                <td> {{ formOperation.idWorker }}</td>
                <td> {{ formOperation.isDone }}</td>
                <td> {{ formOperation.isDoneDate }}</td>
                <td> {{ formOperation.errors }}</td>
            </tr>


    {% endfor %}

    </tbody>
</table>




    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>


<script type="text/javascript">

 $('.formset_row_operation_{{ formManufactoryOperations.prefix }}').formset({
        addText: '+',
        deleteText: 'x',
        prefix: '{{ formManufactoryOperations.prefix }}',
        animateForms: true
    });





</script>





