


<div class="row">

    <div class="col-md-4">

        <div class = "col-md-12">

            {% include "order_form_customer.html"  %}

        </div>

    </div>



    <div class="col-md-8">

        <div class = "col-md-12">

            <ul class="nav nav-tabs">

                <li class="nav-item"><a class="nav-link text-secondary active" data-toggle="tab" href="#project">Проект</a></li>
                <li class="nav-item"><a class="nav-link text-secondary" data-toggle="tab" href="#manufactory">Цех</a></li>
                <li class="nav-item"><a class="nav-link text-secondary" data-toggle="tab" href="#contractor">Подрядчики</a></li>

                <li class="nav-item"><a class="nav-link text-secondary " data-toggle="tab" href="#pay">Оплата</a></li>
                <li class="nav-item"><a class="nav-link text-secondary" data-toggle="tab" href="#materials">Материалы</a></li>
                <li class="nav-item"><a class="nav-link text-secondary" data-toggle="tab" href="#sketch">Эскизы</a></li>

            </ul>



            <div class="tab-content">

                <div id="project" class="tab-pane fade active show">

                  {% include "order_form_operations_project.html"  %}

                   <div class = "border align-items-center m-4">
                        <h5>Итого выполнено по проекту:  {{ sumProjectOperation }} р.</h5>
                    </div>

                </div>




                <div id="manufactory" class="tab-pane fade active">

                   {% include "order_form_operations_manufactory.html"  %}

                    <div class = "border align-items-center m-4">
                        <h5>Итого выполнено по цеху:  {{ sumManufactoryOperation }} р.</h5>
                        <br>
                    </div>

                </div>



                <div id="contractor" class="tab-pane fade active">

                    {% include "order_form_operations_contractor.html"  %}

                    <div class = "border align-items-center m-4">
                        <h5>Итого выполнено подрядчиками:  {{ sumContractorOperation }} р. </h5>
                    </div>


                </div>




                <div id="pay" class="tab-pane fade">

                    {% include "order_form_pay.html"  %}

                </div>



                <div id="materials" class="tab-pane fade active">

                    {% include "order_form_materials.html"  %}

                </div>



                <div id="sketch" class="tab-pane fade">

                    {% include "order_form_sketch.html"  %}

                </div>

            </div>
        </div>
    </div>
</div>

