{% load static %}




<br>


    <table class="table table-borderless" id = "form_set_contractor">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Операция</th>
            <th scope="col">Стоимость</th>
            <th scope="col">Исполнитель</th>
            <th scope="col">Дата выполнения</th>
            <th scope="col"></th>
        </tr>
        </thead>

        <tbody>

        {{ formContractorOperations.management_form }}

        {% for formOperation in formContractorOperations %}

            {{ formOperation.errors }}

            {% for error in formOperation.non_field_errors %}
                {{error}}
            {% endfor %}


            {% for hidden in formOperation.hidden_fields %}
                {{ hidden }}
            {% endfor %}


            <tr>
                <td> {{ formOperation.isDone }}</td>
                <td> {{ formOperation.idOperation }}</td>
                <td> {{ formOperation.cost }}</td>
                <td> {{ formOperation.idWorker }}</td>
                <td> {{ formOperation.isDoneDate }} </td>
                <td> {{ formOperation.errors }} </td>
            </tr>


        {% endfor %}

        </tbody>
    </table>






