{% load static %}


<br>

    <table class="table table-borderless" id = "form_set_order_material">
        <thead>
        <tr>
            <th scope="col">Требуемый материал</th>
            <th scope="col">Нужное количество</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>

        <tbody>

        {{ formMaterials.management_form }}

        {% for formMaterial in formMaterials %}

            {% for error in formMaterial.non_field_errors %}
                {{error}}
            {% endfor %}



            {% for hidden in formMaterial.hidden_fields %}
                {{ hidden }}
            {% endfor %}


            <tr>
                <td> {{ formMaterial.idMaterial }}</td>
                <td> {{ formMaterial.count }}</td>
                <td>
                    {% for key, value in formOperation.errors.items %}
                        {{ value }}
                    {% endfor %}
                </td>
                <td></td>
            </tr>


        {% endfor %}

        </tbody>
    </table>












