{% extends "base.html" %}
{% load static %}

{% block title %} Заказ {% endblock %}


{% block styles %}
     <link rel="stylesheet" type="text/css" href= "{% static "css/index.css" %}" >
{% endblock %}

{% block content %}

    <div class = "main-window" >

        <form method="post">

            {% include "order_form.html" %}


            <button type="submit" class="btn btn-secondary" value="Save" name = "btn1"> Сохранить </button>
            <button type="submit" class="btn btn-secondary" value="Remove" name = "btn2"> Удалить </button>

        </form>

    </div>

{% endblock %}