
<div class="container border">

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <div class="row">

        <div class = "navigation padding">

            {%  csrf_token  %}

            {{ form.errors }}

            {% for error in form.non_field_errors %}
                {{error}}
            {% endfor %}


            <div class="form-group">

                <div class="text-center"> <b> <label>Заказ номер</label>  {{ objOrder.id }} </b> </div>

            </div>


            <div class="form-group">
                {{ form.nameOrder.errors }}

                 <label for="{{ form.nameOrder.id_for_label }}">Наименование заказа</label><br>

                {{ form.nameOrder }}
            </div>



            <div class="form-group">
                {{ form.nameContract.errors }}

                 <label for="{{ form.nameContract.id_for_label }}">Договор</label><br>

                {{ form.nameContract }}
            </div>





            <div class="form-group">
                {{ form.surname.errors }}

                <label for="{{ form.surname.id_for_label }}">Фамилия</label><br>

                {{ form.surname }}

            </div>



            <div class="form-group">
                {{ form.name.errors }}

                <label for="{{ form.name.id_for_label }}">Имя</label><br>

                {{ form.name }}

            </div>



            <div class="form-group">
                {{ form.patronymic.errors }}

                <label for="{{ form.patronymic.id_for_label }}">Отчество</label><br>

                {{ form.patronymic }}

            </div>


            <div class="form-group">
                {{ form.address.errors }}

                <label for="{{ form.address.id_for_label }}">Адрес</label><br>

                {{ form.address }}

            </div>


            <div class="form-group">
                {{ form.phone.errors }}

                <label for="{{ form.phone.id_for_label }}">Телефон</label><br>

                {{ form.phone }}

            </div>


            <div class="form-group">

                <label for="exampleFormControlSelect2">Статус</label><br>

                {{ form.status }}

            </div>


            <div class="form-group">
                {{ form.trelloLink.errors }}

                <label for="{{ form.trelloLink.id_for_label }}">Ссылка на трелло</label><br>

                {{ form.trelloLink }}

            </div>

            <div class="form-group">

                <label for="{{ form.details.id_for_label }}">Детали</label><br>

                {{ form.details }}
            </div>

        </div>

    </div>
</div>