{% extends "base.html" %}
{% load static %}

{% block title %} Заказы {% endblock %}

{% block styles %}
     <link rel="stylesheet" type="text/css" href= "{% static "css/index.css" %}" >
{% endblock %}


{% block content %}

    <div class = "main-window">

        <div class="container-fluid">
            <div class="row">


                {% for status in statusNameArray %}

                    <div class = "col-3">
                        <div class="order_list">
                            <div class="card-header text-center text-white bg-dark">{{ status }} </div>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>



        <div class="container-fluid">
            <div class="row">


                {% for orders in ordersArray %}

                    <! -- изменить при изменении количества разделов на главной странице -->
                    <div class = "col-3">
                        {% include "order_list.html"  %}
                    </div>

                {% endfor %}


            </div>
        </div>


    </div>

{% endblock %}