{% extends "base.html" %}
{% load static %}

{% block title %} Заказ {% endblock %}


{% block styles %}
     <link rel="stylesheet" type="text/css" href= "{% static "css/index.css" %}" >
{% endblock %}

{% block content %}

    <div class = "main-window" >

        <H4>Сотрудник: {{ worker_info }} </H4>
        <H4>Месяц: {{ period }} </H4>


        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Заказ</th>
                <th scope="col">Операция</th>
                <th scope="col">Дата выполнения</th>
                <th scope="col">Стоимость работ</th>
            </tr>
            </thead>

            <tbody>
            {% for r in report %}
                <tr>
                    <td>
                        {{ r.idOrder }}
                    </td>
                    <td>
                        {{ r.idOperation }}
                    </td>
                    <td>
                        {{ r.isDoneDate }}
                    </td>
                    <td>
                        {{ r.cost }}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>


        <H3>Итог: {{  sum }} р.</H3>



    <form method="get" action="/xls">
         {%  csrf_token  %}
         <input type="submit" value="Сохранить xls">
    </form>

    </div>

{% endblock %}