{% extends "base.html" %}
{% load static %}

{% block title %} Заказ {% endblock %}


{% block styles %}
     <link rel="stylesheet" type="text/css" href= "{% static "css/index.css" %}" >
{% endblock %}

{% block content %}

    <div class = "report_margin" >

        <div class="row">


            <form method="post">

                {%  csrf_token  %}


                <H4>Сотрудник:</H4>
                <select class="custom-select col-xs-3" name="worker_id">

                    {% for worker in workers %}

                        <option value={{ worker.id }} > {{ worker }} </option>

                    {% endfor %}

                </select>

                <H4>Месяц:</H4>
                <select class="custom-select" name = "month">

                    {% for key, value in months.items %}

                        <option value={{ forloop.counter }}  > {{ key }} </option>

                    {% endfor %}

                </select>





                <H4>Год:</H4>
                <select class="custom-select" name = "year">

                    {% for year in years %}

                        <option value={{ year }} > {{ year }} </option>

                    {% endfor %}

                </select>

                <br>
                <br>

                <input type="submit" value="Рассчитать">

            </form>
        </div>
    </div>

{% endblock %}