{% extends "base.html" %}
{% load static %}

{% block title %} Заказ {% endblock %}


{% block styles %}
     <link rel="stylesheet" type="text/css" href= "{% static "css/index.css" %}" >
{% endblock %}

{% block content %}

    <div class = "report_margin" >


    <form method="post" action="/xls/">

        <H4>Сотрудник: {{ worker_info }} </H4>
        <input type="hidden" id="worker_info" name="worker_info" value="{{ worker_info }}">

        <H4>Месяц: {{ period }} </H4>
        <input type="hidden" id="period" name="period" value={{ period }}>


        <table class="table bg-light">
            <thead>
            <tr>
                <th scope="col">Заказ</th>
                <th scope="col">Операция</th>
                <th scope="col">Дата выполнения</th>
                <th scope="col">Стоимость работ</th>
            </tr>
            </thead>

            <tbody>
            <input type="hidden" id="count_" name="count_" value={{ report.count }}>

            {% for r in reportProject %}
                <tr>
                    <td>
                        <a href = /order/{{ r.idOrder.id }} > {{  r.idOrder }} </a>
                         <input type="hidden" id="idOrder" name="idOrder{{ forloop.counter0 }}" value={{ r.idOrder }}>
                    </td>
                    <td>
                        {{ r.idOperation }}
                         <input type="hidden" id="idOperation" name="idOperation{{ forloop.counter0 }}" value= {{ r.idOperation }}>
                    </td>
                    <td>
                        {{ r.isDoneDate }}
                         <input type="hidden" id="isDoneDate" name="isDoneDate{{ forloop.counter0 }}" value= "{{ r.isDoneDate }}">
                    </td>
                    <td>
                        {{ r.cost }}
                         <input type="hidden" id="cost" name="cost{{ forloop.counter0 }}" value={{ r.cost }}>
                    </td>

                </tr>
            {% endfor %}


               {% for r in reportManufactory %}
                <tr>
                    <td>
                        <a href = /order/{{ r.idOrder.id }} > {{  r.idOrder }} </a>
                         <input type="hidden" id="idOrder" name="idOrder{{ forloop.counter0 }}" value={{ r.idOrder }}>
                    </td>
                    <td>
                        {{ r.idOperation }}
                         <input type="hidden" id="idOperation" name="idOperation{{ forloop.counter0 }}" value= {{ r.idOperation }}>
                    </td>
                    <td>
                        {{ r.isDoneDate }}
                         <input type="hidden" id="isDoneDate" name="isDoneDate{{ forloop.counter0 }}" value= "{{ r.isDoneDate }}">
                    </td>
                    <td>
                        {{ r.cost }}
                         <input type="hidden" id="cost" name="cost{{ forloop.counter0 }}" value={{ r.cost }}>
                    </td>

                </tr>
            {% endfor %}


               {% for r in reportContractor%}
                <tr>
                    <td>
                        <a href = /order/{{ r.idOrder.id }} > {{  r.idOrder }} </a>
                         <input type="hidden" id="idOrder" name="idOrder{{ forloop.counter0 }}" value={{ r.idOrder }}>
                    </td>
                    <td>
                        {{ r.idOperation }}
                         <input type="hidden" id="idOperation" name="idOperation{{ forloop.counter0 }}" value= {{ r.idOperation }}>
                    </td>
                    <td>
                        {{ r.isDoneDate }}
                         <input type="hidden" id="isDoneDate" name="isDoneDate{{ forloop.counter0 }}" value= "{{ r.isDoneDate }}">
                    </td>
                    <td>
                        {{ r.cost }}
                         <input type="hidden" id="cost" name="cost{{ forloop.counter0 }}" value={{ r.cost }}>
                    </td>

                </tr>
            {% endfor %}


            </tbody>
        </table>


        <H3>Итог: {{  sum }} р.</H3>
        <input type="hidden" id="sum" name="sum" value={{ sum }}>



         {%  csrf_token  %}
         <input type="submit" value="Сохранить csv">
    </form>

    </div>

{% endblock %}