{% extends "base.html" %}
{% load static %}

{% block title %} Заказ {% endblock %}


{% block styles %}
     <link rel="stylesheet" type="text/css" href= "{% static "css/index.css" %}" >
{% endblock %}

{% block content %}

    <div class = "report_margin" >

        <table class="table bg-light" id = "operations">
            <thead>
            <tr>
                <th scope="col">ФИО назначенного работника</th>
                <th scope="col">Операция</th>
                <th scope="col">Заказ</th>
            </tr>
            </thead>
            <tbody>

            {% for operation in Operations %}
                <tr>
                    <td>
                        {{  operation.workerName }}
                    </td>

                    <td>
                        {{  operation.operation }}
                    </td>

                    <td>
                        <a href = /order/{{ operation.order.id }} > {{  operation.order }} </a>
                    </td>


                </tr>
            {% endfor %}

            </tbody>

        </table>


    </div>

{% endblock %}